<% comment ||= article.comments.build %>
<%= form_with model: [ article, comment ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
    <% comment.errors.full_messages_for(:commenter).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.rich_text_area :body %>
    <% comment.errors.full_messages_for(:body).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, %w(public private archived), selected: "public" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
