<%= turbo_stream_from @article %>
<div id="<%= dom_id(@article) %>">
  <p style="color: green"><%= notice %></p>

  <h1><%= @article.title %></h1>

  <p><%= @article.body %></p>

  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
  </ul>


  <h2>Comments</h2>
  <div id="comments">
    <%= render @article.comments %>
  </div>

  <h2>Add a comment:</h2>
  <%= render 'comments/form', article: @article %>
  <%= link_to "Back to Articles", articles_path %>
</div>
